/* Базовые стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  min-height: 100vh;
}
/* Стили для изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

/* Стили для изображений */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1200px;
}
